
@import "./bootstrap/bootstrap";
//Component
@import "./components/alert";
@import "./components/posts-new";

.App {
  header, footer{
    text-align: center;
  }
  section {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .alert_in {
    margin-top: 0px;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
